<a [routerLink]="['/', media.mediaType, media.id]"><img class="card-img-top" loading="lazy"
    src="https://image.tmdb.org/t/p/{{posterSize}}{{media.posterPath}}" alt=""></a>
<div class="card-body">
  <div class="card-title">
    <div class="row">
      <div class="col-md-{{showSmallFormat ? '12' : '8'}}">
        <a [ngStyle]="{'font-size': fontSize}" [routerLink]="['/', media.mediaType, media.id]">{{media.title}}</a>
        <p [ngStyle]="{'font-size': fontSize}" *ngIf="media[dateKey] ">{{media[dateKey] | date}}</p>
      </div>
      <div *ngIf="!showSmallFormat" class="col-md-4">
        <circle-progress *ngIf="media.voteAverage > 0; else elseBlock" [percent]="media.voteAverage * 10"
          [unitsFontSize]="10" [titleFontSize]="10" [radius]="25" [outerStrokeWidth]="5"
          [innerStrokeWidth]="5" [outerStrokeColor]="media.voteAverage | borderClass"></circle-progress>
        <ng-template #elseBlock>
          <circle-progress [unitsFontSize]="10" [titleFontSize]="10" title="N/A" [innerStrokeWidth]="5"
            [radius]="25" [outerStrokeWidth]="6" [showUnits]="false"></circle-progress>
        </ng-template>
      </div>
    </div>
  </div>
</div>