.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.row > .media-container {
  display: flex;
  gap: 10px;
  overflow-y: hidden;
  overflow-x: auto;
  padding-bottom: 10px;

  .card {
    border-radius: 15px;
    overflow: hidden;
    border-radius: 8px;
    width: 150px;
    min-width: 150px;
  }
}

.nav-tabs .nav-link {
  color: rgba(var(--tmdbDarkBlue), 1);
  font-weight: 600;
}

.nav-tabs .nav-link.active {
  background-color: rgb(var(--tmdbDarkBlue));
  color: #1ed5a9;
}