<div class="container">
  <h3>{{ 'Trending' | translate }}</h3>
  <ul ngbNav #navTrending="ngbNav" [(activeId)]="activeTrending" class="nav-tabs">
    <li [ngbNavItem]="1">
      <button ngbNavLink>{{ 'Today' | translate }}</button>
      <ng-template ngbNavContent>
        <div class="row">
          <div class="media-container">
            <div *ngFor="let media of trendingMediaToday" class="card">
              <app-media-poster [media]="media" sizeformat="small"></app-media-poster>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink>{{ 'This Week' | translate }}</button>
      <ng-template ngbNavContent>
        <div class="row">
          <div class="media-container">
            <div *ngFor="let media of trendingMediaThisWeek" class="card">
              <app-media-poster [media]="media" sizeformat="small"></app-media-poster>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="navTrending" class="mt-2"></div>

  <br />

  <h3>{{ 'What\'s Popular' | translate }}</h3>
  <ul ngbNav #navPopular="ngbNav" [(activeId)]="activePopular" class="nav-tabs">
    <li [ngbNavItem]="1">
      <button ngbNavLink>{{ 'Streaming' | translate }}</button>
      <ng-template ngbNavContent>
        <div class="row">
          <div class="media-container">
            <div *ngFor="let media of popularStreaming" class="card">
              <app-media-poster [media]="media" sizeformat="small"></app-media-poster>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink>{{ 'On TV' | translate }}</button>
      <ng-template ngbNavContent>
        <div class="row">
          <div class="media-container">
            <div *ngFor="let media of popularOnTV" class="card">
              <app-media-poster [media]="media" sizeformat="small"></app-media-poster>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <button ngbNavLink>{{ 'In Theaters' | translate }}</button>
      <ng-template ngbNavContent>
        <div class="row">
          <div class="media-container">
            <div *ngFor="let media of popularInTheaters" class="card">
              <app-media-poster [media]="media" sizeformat="small"></app-media-poster>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="navPopular" class="mt-2"></div>

</div>