<div class="container">
  <h3>{{ 'Trending' | translate }}</h3>
  <ul ngbNav #navTrending="ngbNav" [(activeId)]="activeTrending" class="nav-tabs">
    <li [ngbNavItem]="1">
      <button ngbNavLink>{{ 'Today' | translate }}</button>
      <ng-template ngbNavContent>
        <div class="row">
          <div class="media-container">
            @for (media of trendingMediaToday; track media) {
              <div class="card">
                <app-media-poster [media]="media" sizeformat="small"></app-media-poster>
              </div>
            }
          </div>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink>{{ 'ThisWeek' | translate }}</button>
      <ng-template ngbNavContent>
        <div class="row">
          <div class="media-container">
            @for (media of trendingMediaThisWeek; track media) {
              <div class="card">
                <app-media-poster [media]="media" sizeformat="small"></app-media-poster>
              </div>
            }
          </div>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="navTrending" class="mt-2"></div>

  <br />

  <h3>{{ 'Upcoming' | translate }}</h3>
  <ul ngbNav #navUpcoming="ngbNav" [(activeId)]="activeUpcoming" class="nav-tabs">
    <li [ngbNavItem]="1">
      <button ngbNavLink>{{ 'Movies' | translate }}</button>
      <ng-template ngbNavContent>
        <div class="row">
          <div class="media-container">
            @for (media of upcomingMovies; track media) {
              <div class="card">
                <app-media-poster [media]="media" sizeformat="small"></app-media-poster>
              </div>
            }
          </div>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink>{{ 'TVShows' | translate }}</button>
      <ng-template ngbNavContent>
        <div class="row">
          <div class="media-container">
            @for (media of upcomingTV; track media) {
              <div class="card">
                <app-media-poster [media]="media" sizeformat="small"></app-media-poster>
              </div>
            }
          </div>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="navUpcoming" class="mt-2"></div>

  <br />

  <h3>{{ 'WhatsPopular' | translate }}</h3>
  <ul ngbNav #navPopular="ngbNav" [(activeId)]="activePopular" class="nav-tabs">
    <li [ngbNavItem]="1">
      <button ngbNavLink>{{ 'Streaming' | translate }}</button>
      <ng-template ngbNavContent>
        <div class="row">
          <div class="media-container">
            @for (media of popularStreaming; track media) {
              <div class="card">
                <app-media-poster [media]="media" sizeformat="small"></app-media-poster>
              </div>
            }
          </div>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink>{{ 'OnTV' | translate }}</button>
      <ng-template ngbNavContent>
        <div class="row">
          <div class="media-container">
            @for (media of popularOnTV; track media) {
              <div class="card">
                <app-media-poster [media]="media" sizeformat="small"></app-media-poster>
              </div>
            }
          </div>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <button ngbNavLink>{{ 'InTheaters' | translate }}</button>
      <ng-template ngbNavContent>
        <div class="row">
          <div class="media-container">
            @for (media of popularInTheaters; track media) {
              <div class="card">
                <app-media-poster [media]="media" sizeformat="small"></app-media-poster>
              </div>
            }
          </div>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="navPopular" class="mt-2"></div>

</div>