@import 'common-media.scss';

.collection-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 15px;
  gap: 10px;
  height: 250px;
  border-radius: 10px;
  background-size: cover;
  background-position: 50% 50%;

  h2 {
    color: white;
    font-weight: bold;
  }

  a {
    max-width: 250px;
    font-weight: bold;
    color: white;
  }
}