a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: blue
}

.img-container {
    position: relative;

    .circle-progress-container {
        position: absolute;
        left: 13px;
    }
}