<div class="img-container">
  <a [routerLink]="['/', media.mediaType, media.id]">
    <img class="card-img-top" loading="lazy" src="https://image.tmdb.org/t/p/{{posterSize}}{{media.posterPath}}" alt=""
      [ngStyle]="{'min-height': minImgHeight}">
    </a>

    <div class="circle-progress-container" [ngStyle]="{'bottom': bottomPosition}">
      @if(media.voteAverage > 0) {
        <circle-progress [percent]="media.voteAverage * 10" [unitsFontSize]="5" [titleFontSize]="titleFontSize" [radius]="15"
          [outerStrokeWidth]="3" backgroundPadding="3" [outerStrokeColor]="media.voteAverage | borderClass"></circle-progress>
      }
      @else {
        <circle-progress [titleFontSize]="titleFontSize" [radius]="15" [outerStrokeWidth]="3" [showUnits]="false" title="NR"
          backgroundPadding="3"></circle-progress>
      }
  </div>
</div>

<div class="card-body">
  <div class="card-title">
    <div class="row">
      <div class="col-md-12">
        <a [ngStyle]="{'font-size': fontSize}" [routerLink]="['/', media.mediaType, media.id]">{{media.title}}</a>
        @if (media[dateKey] ) {
          <p [ngStyle]="{'font-size': fontSize}">{{media[dateKey] | date}}</p>
        }
      </div>
    </div>
  </div>
</div>