<app-generic-details type="TV" [callback]="tvDetailsCallback">
  <ng-template #mainInfo let-tv="data">
    <h3>{{tv.title}} @if (tv.firstAirDate) {
      <span>({{tv.firstAirDate | date:'yyyy'}})</span>
    }</h3>
    <h6>
      @if (tv.certification) {
        <span class="certification-box"
        [title]="tv.certification | certification">{{tv.certification}}</span>
      } {{tv.firstAirDate | date: 'shortDate'}}
      </h6>

      <p class="card-text">
        @for (genre of tv.genres; track genre) {
          <a [routerLink]="['/tv-shows']" [queryParams]="{genreId: genre.id}">
            <span class="badge text-bg-primary genre-badge">{{ genre.name }}</span>
          </a>
        }
      </p>

      <div class="user-score-container">
        @if(tv.voteAverage > 0) {
          <circle-progress [percent]="tv.voteAverage * 10" [outerStrokeColor]="tv.voteAverage | borderClass"
          [titleFontSize]="20" [unitsFontSize]="15" [radius]="27" [outerStrokeWidth]="5"></circle-progress>
          <h6 [innerHTML]="'UserScore' | translate"></h6>
        }

        @if (tv.trailerKey) {
          <a class="btn btn-secondary" href="https://www.youtube.com/watch?v={{tv.trailerKey}}"
          target="_blank">{{ 'PlayTrailer' | translate }}</a>
        }
      </div>

      @if (tv.tagline) {
        <p class="tagline">{{tv.tagline}}</p>
      }
      <h5>{{ 'Overview' | translate }}</h5>
      <p>{{tv.overview}}</p>

      @if (tv.people.length) {
        <div class="people">
          @for (person of tv.people; track person) {
            <div class="profile">
              <span>{{person.name}}</span>
              <span>{{ 'Jobs.'+person.job | translate }}</span>
            </div>
          }
        </div>
      }
    </ng-template>

    <ng-template #aditionalInfo let-tv="data">
      <div class="aditionalInfo-container">
        <div class="media-info">
          @if (tv.topBilledCast.length) {
            <hr />
            <h4>{{ 'SeriesCast' | translate }}</h4>
            <div class="row">
              <div class="top-billed-cast-container">
                @for (cast of tv.topBilledCast; track cast) {
                  <div class="card">
                    <a [routerLink]="['/person/', cast.id]">
                      @if(cast.profilePath) {
                        <img src="https://image.tmdb.org/t/p/w185{{cast.profilePath}}" class="card-img-top" [title]="cast.name" loading="lazy">
                      }
                      @else {
                      <div class="image-content" style="width: 136px; height: 205px; min-width: 136px">
                        <div class="glyphicons_v2 profile no-image-holder" style="z-index: 1;"
                          [ngClass]="{female: cast.gender === 'Female', male: cast.gender === 'Male' || cast.gender !== 'Female'}">
                        </div>
                      </div>
                    }
                  </a>
                  <div class="cast-text">
                    <a [routerLink]="['/person/', cast.id]">
                      <span class="cast-name">{{cast.name}}</span>
                    </a>
                    <span>{{cast.character}}</span>
                    <span class="episode-count">{{cast.episodeCount}} {{ cast.episodeCount > 1 ? ('episodes' | translate) : ('episode' | translate) }}</span>
                  </div>
                  </div>
                }
              </div>
            </div>
          }

          <hr />

          @if(tv.lastSeason) {
            <h5>{{ ((tv.status === 'Ended' || tv.status === 'Canceled') ? 'LastSeason' : 'CurrentSeason') | translate }}</h5>
            <div class="season">
              <div class="img-container">
                @if(tv.lastSeason.posterPath){
                  <img src="https://image.tmdb.org/t/p/w130_and_h195_bestv2{{tv.lastSeason.posterPath}}" [alt]="tv.lastSeason.name" loading="lazy">
                }
                @else{
                  <div class="image-content" style="width: 136px; height: 205px; min-width: 136px">
                    <div class="glyphicons_v2 poster no-image-holder"></div>
                  </div>
                }
              </div>
              <div>
                <h5>{{tv.lastSeason.name}}</h5>
                <p class="rating"><span *ngIf="tv.lastSeason.voteAverage" class="badge bg-dark">{{tv.lastSeason.voteAverage}}</span> {{tv.lastSeason.airDate | date:'yyyy'}} - {{tv.lastSeason.episodeCount}} {{tv.lastSeason.episodeCount > 1 ? ('episodes' | translate) : ('episode' | translate)}}</p>
                @if(tv.lastSeason.overview) {
                  <p class="overview">{{tv.lastSeason.overview}}</p>
                }
                @else {
                  <p class="overview">
                    {{ 'SeasonOverview' | translate: {seasonName: tv.lastSeason.name, title: tv.title, airDate: tv.lastSeason.airDate | date: 'longDate'} }}
                  </p>
                }
                
                <p class="last-episode-date">{{tv.lastEpisodeToAir.name}} ({{tv.lastSeason.seasonNumber}}x{{tv.lastEpisodeToAir.episodeNumber}}, {{tv.lastEpisodeToAir.airDate | date: 'longDate'}}) @if(tv.lastEpisodeToAir.episodeType === 'finale'){<span class="badge bg-dark">{{ 'SeasonFinale'| translate }}</span>}</p>
              </div>
            </div>

            <a [routerLink]="['/tv', tv.id, 'seasons']" class="btn-viewall-seasons">{{ 'ViewAllSeasons' | translate }}</a>
            <hr />
          }

          <div class="row">
            <h4>{{ 'Recommendations' | translate }}</h4>
            <div class="col-md-12">
              @if(tv.recommendations.length) {
                @for (r of tv.recommendations; track r) {
                  <a [routerLink]="['/', r.mediaType, r.id]">
                    <img src="https://image.tmdb.org/t/p/w154{{r.posterPath}}"
                      class="img-thumbnail img-similar" [title]="r.title" loading="lazy">
                    </a>
                  }
                }
              @else {
                <p [innerHTML]="'EmptyRecommendations' | translate: {value: tv.title, mediaType: 'TVShows' | translate}"></p>
              }
            </div>
          </div>
        </div>

      <div class="minor-data">
        @if (tv.originalTitle) {
          <div><span>{{ 'OriginalName' | translate }}</span> <span>{{ tv.originalTitle }}</span></div>
        }
        @if (tv.status) {
          <div><span>{{ 'Status' | translate }}</span> <span>{{ 'TVStatus.'+tv.status | translate }}</span></div>
        }
        <div>
          <span>{{ 'Network' | translate }}</span>
          @if(tv.network) {
            <section>
              <img src="https://image.tmdb.org/t/p/h30{{tv.network.logoPath}}" [title]="tv.network.name" loading="lazy">
            </section>
          }
          @else {
            <span>{{ 'EmptyProductionCompany' | translate }}</span>
          }
      </div>
      @if (tv.type) {
        <div><span>{{ 'Type' | translate }}</span> <span>{{tv.type}}</span></div>
      }
      @if (tv.originalLanguage) {
        <div><span>{{ 'OriginalLanguage' | translate }}</span> <span>{{ 'Languages.'+tv.originalLanguage | translate }}</span></div>
      }
      <div>
        <span>{{ 'Keywords' | translate }}</span>
        @if(tv.keywords.length) {
          <section class="keywords">
            @for (keyword of tv.keywords; track keyword) {
              <span class="badge text-bg-secondary">{{keyword}}</span>
            }
          </section>
        }
        @else {
          <span>{{ 'EmptyKeyworks' | translate }}</span>
        }
    </div>
  </div>
</div>
</ng-template>
</app-generic-details>