<!-- Page Content -->
<div class="container">
  <div class="search-container">
    <input type="search" [(ngModel)]="search" (keydown.enter)="searchMovies()" placeholder="Search for a movie"
      (click)="loadMovies()" />
    <button type="button" class="btn btn-primary" (click)="searchMovies()">Search</button>
  </div>

  <br />

  <!-- Pagination -->
  <div class="overflow-auto d-flex flex-sm-row flex-column justify-content-center">
    <ngb-pagination *ngIf="maxResults" [collectionSize]="maxResults" [(page)]="pageNumber" [maxSize]="15"
      [pageSize]="pageSize" (pageChange)="paginateMovies()" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
  </div>

  <div class="row">
    <ng-container *ngIf="movies.length; else emptyMovies">
      <div *ngFor="let movie of movies" class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100">
          <app-movie-poster [movie]="movie"></app-movie-poster>
        </div>
      </div>
    </ng-container>

    <ng-template #emptyMovies>
      <div class="alert alert-warning" style="width: 100%;" role="alert">
        No movies found
      </div>
    </ng-template>

  </div>
  <!-- /.row -->

  <!-- Pagination -->
  <div class="overflow-auto overflow-auto d-flex flex-sm-row flex-column justify-content-center">
    <ngb-pagination *ngIf="maxResults" [collectionSize]="maxResults" [(page)]="pageNumber" [maxSize]="15"
      [pageSize]="pageSize" (pageChange)="paginateMovies()" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>