<div class="container" *ngIf="person">
    <div class="first-column">
        <img src="https://media.themoviedb.org/t/p/w300_and_h450_bestv2{{person.profilePath}}">
        <h5>Personal Info</h5>

        <div class="personal-info">
            <div>
                <span>Known For</span>
                <span>{{person.knownForDepartment}}</span>
            </div>
            <div>
                <span>Known Credits</span>
                <span>{{person.knownCredits}}</span>
            </div>
            <div>
                <span>Gender</span>
                <span>{{person.gender}}</span>
            </div>
            <div>
                <span>Birthday</span>
                <span>{{person.birthday | date}} ({{person.age}} years old)</span>
            </div>
            <div>
                <span>Place of Birth</span>
                <span>{{person.placeOfBirth}}</span>
            </div>
        </div>
    </div>
    <div class="second-column">
        <h2>{{person.name}}</h2>
        <h5>Biography</h5>
        <p>{{person.biography}}</p>
    </div>
</div>