.container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;

    .first-column {
        max-width: 300px;

        img {
            border-radius: 20px;
            padding-bottom: 10px;
        }

        .personal-info {
            display: flex;
            flex-direction: column;
            gap: 12px;

            div {
                display: flex;
                flex-direction: column;
                gap: 5px;

                span:first-child {
                    font-weight: bold;
                }
            }
        }
    }
}