.certification-box {
    border: 1px solid gray;
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.user-score-container {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.aditionalInfo-container {
    display: flex;
    gap: 30px;

    .media-info {
        width: calc(100% - 220px);
    }

    .minor-data {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 400px;

        div {
            display: flex;
            flex-direction: column;
            gap: 5px;

            span:first-child {
                font-weight: bold;
            }
        }

        .production-companies {
            display: flex;
            flex-direction: column;
            gap: 5px;

            img {
                max-height: 75px;
            }
        }

        .keywords {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
        }
    }
}

.top-billed-cast-container {
    display: flex;
    gap: 10px;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 10px;

    .card {
        border-radius: 15px;
        border: 1px solid rgba(227, 227, 227, 1);
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
        width: 138px;
        min-width: 138px;
    }

    .cast-text {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 5px 10px 3px 10px;

        a {
            text-decoration: none;
            color: black;
        }

        a:hover {
            color: blue
        }

        .cast-name {
            font-weight: bold;
        }

        span {
            font-size: smaller;
        }
    }
}

.img-similar {
    max-height: 150px;
}

h3>span {
    font-weight: normal;
}

.tagline {
    font-style: italic;
    opacity: .7;
}

.genre-badge {
    cursor: pointer;
}

p.card-text {
    display: flex;
    gap: 5px;
    padding-top: 10px;
}

.people {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    .profile {
        display: flex;
        flex-direction: column;
        gap: 3px;

        span:first-child {
            font-weight: bold;
        }
    }
}