<!-- Page Content -->
<div class="container" *ngIf="movie != null">

    <!-- Page Heading -->
    <h1 class="my-4">Detalles</h1>

    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid rounded mb-3 mb-md-0 img-principal" 
                src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{movie.poster_path}}" 
                [alt]="movie.title">

            <br/>
            <h5>Puntuación del usuario</h5>

            <div class="text-center">
                <circle-progress *ngIf="movie.vote_average != 0; else elseBlock"
                    [percent]="movie.vote_average * 10"
                    [outerStrokeColor]="movie.vote_average | borderClass"
                    ></circle-progress>
                <ng-template #elseBlock>
                    <circle-progress
                    title="N/A"
                    [showUnits]="false"
                    ></circle-progress>
                </ng-template>
            </div>
        </div>
        <div class="col-md-8">
            <h3>{{movie.title}} <span style="color:grey;">({{movie.release_date | date:'yyyy'}})</span></h3>
            <p>{{movie.overview}}</p>
            <h5>Duración: <span style="color:grey;">{{movie.runtime | time}}</span></h5>
            <p class="card-text">
                <span *ngFor="let genre of movie.genres"
                class="badge badge-pill badge-primary"
                >{{ genre.name }}</span
                >
            </p>
            <h4>Recomendaciones</h4>
            <div class="col-md-12">
                <a *ngFor="let movie of similarMovies" [routerLink]="['/movies/',movie.id]">
                    <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{movie.poster_path}}" 
                    class="img-thumbnail img-similar" [title]="movie.title" [alt]="movie.title">
                 </a>
            </div>    
        </div>
    </div>

    <div class="row" *ngIf="videos.length > 0">
        <div class="col-md-4" *ngFor="let video of videos">
            <iframe width="100%" height="315"
                [src]="getVideoUrl(video.key)" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
        </div>
    </div>

</div>