<!-- Page Content -->
<div class="container">
    
    <!-- Page Heading -->
    <h1 class="my-4">Películas</h1>

    <!-- Pagination -->
    <ngb-pagination [collectionSize]="10000" [(page)]="pageNumber" [maxSize]="10" 
    [rotate]="true" [ellipses]="false" [pageSize]="20" [boundaryLinks]="true"
     class="d-flex justify-content-center" (pageChange)="loadMovies()"></ngb-pagination>

    <div class="row">
        <div *ngFor="let movie of movies" class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <a [routerLink]="['/movies/',movie.id]"><img class="card-img-top" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{movie.poster_path}}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a [routerLink]="['/movies/',movie.id]">{{movie.title}}</a>
                    </h4>
                    <p class="card-text">{{movie.overview}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Pagination -->
    <ngb-pagination [collectionSize]="10000" [(page)]="pageNumber" [maxSize]="10" 
    [rotate]="true" [ellipses]="false" [pageSize]="20" [boundaryLinks]="true"
     class="d-flex justify-content-center" (pageChange)="loadMovies()"></ngb-pagination>
</div>