<app-generic-details type="Collection" [callback]="collectionDetailsCallback">
  <ng-template #mainInfo let-collection="data">
    <h3>{{collection.name}}</h3>

    @if (collection.voteAverage > 0) {
      <div class="user-score-container">
        <circle-progress [percent]="collection.voteAverage * 10" [outerStrokeColor]="collection.voteAverage | borderClass"
        [titleFontSize]="20" [unitsFontSize]="15" [radius]="27" [outerStrokeWidth]="5"></circle-progress>
        <h6 [innerHTML]="'UserScore' | translate"></h6>
      </div>
    }

    <h5>{{ 'Overview' | translate }}</h5>
    <p>{{collection.overview}}</p>
    <p><b>{{ 'NumberOfMovies' | translate }}:</b> {{collection.movies.length}}</p>
  </ng-template>

  <ng-template #aditionalInfo let-collection="data">
    <hr />
    <div class="row">
      <h3 style="width: 100%;">{{ 'Movies' | translate }}</h3>

      @for (movie of collection.movies; track movie) {
        <div class="col-lg-2 col-sm-6 mb-4">
          <div class="card h-100">
            <app-media-poster [media]="movie" sizeformat="medium"></app-media-poster>
          </div>
        </div>
      }
    </div>
  </ng-template>
</app-generic-details>