<app-generic-details type="Movie">
  <ng-template #mainInfo let-movie="data" let-contrastColor="contrastColor">
    <h3>{{movie.title}} <span *ngIf="movie.releaseDate" class="movie-year">({{movie.releaseDate | date:'yyyy'}})</span>
    </h3>
    <h6>
      <span class="certification-box" *ngIf="movie.certification"
        [title]="movie.certification | certification">{{movie.certification}}</span> {{movie.releaseDate |
      date:'MM/dd/yyyy'}} <span *ngIf="movie.productionCountry">({{movie.productionCountry}})</span>
      <span class="runtime" *ngIf="movie.runtime"> {{movie.runtime | time}}</span>
    </h6>

    <p class="card-text">
      <a *ngFor="let genre of movie.genres" [routerLink]="['/home']" [queryParams]="{genreId: genre.id}"
        class="badge badge-pill badge-primary genre-badge">{{ genre.name }}</a>
    </p>

    <div class="user-score-container">
      <ng-container *ngIf="movie.voteAverage > 0">
        <circle-progress [percent]="movie.voteAverage * 10" [outerStrokeColor]="movie.voteAverage | borderClass"
          [titleFontSize]="15" [unitsFontSize]="15" [radius]="30" [innerStrokeWidth]="3" [outerStrokeWidth]="5"
          [titleColor]="contrastColor" [unitsColor]="contrastColor"></circle-progress>
        <h6>User<br />Score</h6>
      </ng-container>

      <a *ngIf="movie.trailerKey" class="btn btn-secondary" href="https://www.youtube.com/watch?v={{movie.trailerKey}}"
        target="_blank">Play Trailer</a>
    </div>

    <p class="tagline">{{movie.tagline}}</p>
    <h5>Overview</h5>
    <p>{{movie.overview}}</p>

    <div class="people" *ngIf="movie.people.length">
      <div class="profile" *ngFor="let person of movie.people">
        <span>{{person.name}}</span>
        <span>{{person.job}}</span>
      </div>
    </div>
  </ng-template>

  <ng-template #aditionalInfo let-movie="data" let-posterImgDominantColor="posterImgDominantColor">
    <div class="aditionalInfo-container">
      <div>
        <ng-container *ngIf="movie.topBilledCast.length">
          <hr />
          <h4>Top Billed Cast</h4>
          <div class="row">
            <div class="col-md-12">
              <div class="card-group top-billed-cast-container">
                <div *ngFor="let cast of movie.topBilledCast" class="card">
                  <img [src]="cast.profilePath ? 'https://image.tmdb.org/t/p/w185' + cast.profilePath : '/assets/images/no-image.png'"
                    class="card-img-top" [title]="cast.name" loading="lazy">
                  <div class="cast-text">
                    <span class="cast-name">{{cast.name}}</span>
                    <span>{{cast.character}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        
        <ng-container *ngIf="movie.collection">
          <hr />
          <div class="row collection-container"
            style="background-image: linear-gradient(to right, rgba(3, 37, 65, 1) 0%, rgba(3, 37, 65, 0.6) 100%), url(https://media.themoviedb.org/t/p/w1440_and_h320_multi_faces{{movie.collection.backdropPath}})">
            <h2>Part of the {{movie.collection.name}}</h2>
            <a class="btn rounded-pill" [style.background-color]="posterImgDominantColor"
              href="/collection/{{movie.collection.id}}">VIEW THE COLLECTION</a>
          </div>
        </ng-container>
    
        <hr />
    
        <div class="row" *ngIf="movie.recommendations.length">
          <h4>Recommendations</h4>
          <div class="col-md-12">
            <a *ngFor="let r of movie.recommendations" [routerLink]="['/movie/', r.id]">
              <img src="https://image.tmdb.org/t/p/original{{r.posterPath}}" class="img-thumbnail img-similar"
                [title]="r.title" loading="lazy">
            </a>
          </div>
        </div>
      </div>

      <div class="minor-data">
        <div *ngIf="movie.status"><span>Status</span> <span>{{movie.status}}</span></div>
        <div *ngIf="movie.originalLanguage"><span>Original Language</span> <span>{{movie.originalLanguage}}</span></div>
        <div *ngIf="movie.budget"><span>Budget</span> <span>{{movie.budget | currency}}</span></div>
        <div *ngIf="movie.revenue"><span>Revenue</span> <span>{{movie.revenue | currency}}</span></div>
      </div>
    </div>
  </ng-template>
</app-generic-details>