<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">&nbsp;&nbsp;Movies Db</a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarContent"
      [attr.aria-expanded]="!collapsed"
      aria-label="Toggle navigation"
      (click)="collapsed = !collapsed"
      >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/movies" routerLinkActive="active-link">{{ 'Movies' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tv-shows" routerLinkActive="active-link">{{ 'TVShows' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/people" routerLinkActive="active-link">{{ 'People' | translate }}</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <select class="form-select" aria-label="Default language" (change)="onLanguageChange($event.target.value)">
            <option value="">{{ 'SelectDefaultLanguage' | translate }}</option>
            @for (lang of laguages; track lang) {
              <option [value]="lang.code" [selected]="lang.code === selectedLanguage">{{'Languages.'+lang.name | translate}}</option>
            }
          </select>
        </li>
      </ul>
    </div>
  </div>

</nav>

<router-outlet></router-outlet>