@if (data) {
  <div class="container">
    <div class="large-container" [style.background-image]="firstBackgroundImg">
      <div class="row main-info-container" [ngStyle]="{color: contrastColor, 'background-image': secondBackgroundImg}">
        <div class="col-md-3">
          @if(data.posterPath) {
            <img class="img-fluid rounded mb-3 mb-md-0 img-principal" width="300" height="450"
              [ngSrc]="data.posterPath" priority placeholder>
          }
          @else {
            <div class="image-content" style="width: 300px; height: 450px; min-width: 300px;">
              <div class="glyphicons_v2 poster no-image-holder"></div>
            </div>
          }
      </div>
      <div class="col-md-9">
        <ng-container [ngTemplateOutlet]="mainInfo"
        [ngTemplateOutletContext]="{ data: data, contrastColor: contrastColor }"></ng-container>
      </div>
    </div>
  </div>
  <ng-container [ngTemplateOutlet]="aditionalInfo"
  [ngTemplateOutletContext]="{ data: data, posterImgDominantColor: posterImgDominantColor }"></ng-container>
</div>
}