@import 'empty-image';

.container {
  margin-top: 20px;

  .large-container {
    background-position: left calc((50vw - 170px) - 340px) top;
    background-size: cover;
    background-repeat: no-repeat;

    .main-info-container {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  .img-principal {
    max-height: 500px;
  }
}