<app-generic-details type="Movie">
  <ng-template #mainInfo let-movie="data" let-contrastColor="contrastColor">
    <h3>{{movie.title}} <span *ngIf="movie.releaseDate">({{movie.releaseDate | date:'yyyy'}})</span></h3>
    <h6>
      <span class="certification-box" *ngIf="movie.certification"
        [title]="movie.certification | certification">{{movie.certification}}</span> {{movie.releaseDate |
      date:'MM/dd/yyyy'}} <span *ngIf="movie.originCountry">({{movie.originCountry}})</span>
      <span class="runtime" *ngIf="movie.runtime"> {{movie.runtime | time}}</span>
    </h6>

    <p class="card-text">
      <a *ngFor="let genre of movie.genres" [routerLink]="['/home']" [queryParams]="{genreId: genre.id}">
        <span class="badge text-bg-primary genre-badge">{{ genre.name }}</span>
      </a>
    </p>

    <div class="user-score-container">
      <ng-container *ngIf="movie.voteAverage > 0">
        <circle-progress [percent]="movie.voteAverage * 10" [outerStrokeColor]="movie.voteAverage | borderClass"
          [titleFontSize]="15" [unitsFontSize]="15" [radius]="30" [innerStrokeWidth]="3" [outerStrokeWidth]="5"
          [titleColor]="contrastColor" [unitsColor]="contrastColor"></circle-progress>
        <h6>User<br />Score</h6>
      </ng-container>

      <a *ngIf="movie.trailerKey" class="btn btn-secondary" href="https://www.youtube.com/watch?v={{movie.trailerKey}}"
        target="_blank">Play Trailer</a>
    </div>

    <p *ngIf="movie.tagline" class="tagline">{{movie.tagline}}</p>
    <h5>Overview</h5>
    <p>{{movie.overview}}</p>

    <div class="people" *ngIf="movie.people.length">
      <div class="profile" *ngFor="let person of movie.people">
        <span>{{person.name}}</span>
        <span>{{person.job}}</span>
      </div>
    </div>
  </ng-template>

  <ng-template #aditionalInfo let-movie="data" let-posterImgDominantColor="posterImgDominantColor">
    <div class="aditionalInfo-container">
      <div class="media-info">
        <ng-container *ngIf="movie.topBilledCast.length">
          <hr />
          <h4>Top Billed Cast</h4>
          <div class="row">
            <div class="top-billed-cast-container">
              <div *ngFor="let cast of movie.topBilledCast" class="card">
                <a [routerLink]="['/person/', cast.id]">
                  <img [src]="cast.profilePath ? 'https://image.tmdb.org/t/p/w185' + cast.profilePath : '/assets/images/no-image.png'"
                  class="card-img-top" [title]="cast.name" loading="lazy">
                </a>
                
                <div class="cast-text">
                  <a [routerLink]="['/person/', cast.id]">
                    <span class="cast-name">{{cast.name}}</span>
                  </a>
                  <span>{{cast.character}}</span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        
        <ng-container *ngIf="movie.collection">
          <hr />
          <div class="row collection-container"
            style="background-image: linear-gradient(to right, rgba(3, 37, 65, 1) 0%, rgba(3, 37, 65, 0.6) 100%), url(https://media.themoviedb.org/t/p/w1440_and_h320_multi_faces{{movie.collection.backdropPath}})">
            <h2>Part of the {{movie.collection.name}}</h2>
            <a class="btn rounded-pill" [style.background-color]="posterImgDominantColor"
              [routerLink]="['/movie/collection/', movie.collection.id]">VIEW THE COLLECTION</a>
          </div>
        </ng-container>
    
        <hr />
    
        <div class="row">
          <h4>Recommendations</h4>
          <div class="col-md-12">
            <ng-container *ngIf="movie.recommendations.length; else emptyRecommendations">
              <a *ngFor="let r of movie.recommendations" [routerLink]="['/', r.mediaType, r.id]">
                <img src="https://image.tmdb.org/t/p/w154{{r.posterPath}}" class="img-thumbnail img-similar"
                  [title]="r.title" loading="lazy">
              </a>
            </ng-container>
            
            <ng-template #emptyRecommendations>
              <p>We don't have enough data to suggest any movies based on <i>{{movie.title}}</i>.</p>
            </ng-template>
          </div>
        </div>
      </div>

      <div class="minor-data">
        <div *ngIf="movie.status"><span>Status</span> <span>{{movie.status}}</span></div>
        <div>
          <span>Production Company</span>
          <section *ngIf="movie.productionCompany; else emptyProductionCompany">
            <img [src]="'https://image.tmdb.org/t/p/h30' + movie.productionCompany.logoPath"
              [title]="movie.productionCompany.name" loading="lazy">
          </section>

          <ng-template #emptyProductionCompany><span>No production company has been added.</span></ng-template>
        </div>
        <div *ngIf="movie.originalLanguage"><span>Original Language</span> <span>{{movie.originalLanguage}}</span></div>
        <div><span>Budget</span> <span>{{movie.budget ? (movie.budget | currency) : '-'}}</span></div>
        <div><span>Revenue</span> <span>{{movie.revenue ? (movie.revenue | currency) : '-'}}</span></div>

        <div>
          <span>Keywords</span>
          <section class="keywords" *ngIf="movie.keywords.length; else emptyKeyworks">
            <span *ngFor="let keyword of movie.keywords" class="badge text-bg-secondary">{{keyword}}</span>
          </section>

          <ng-template #emptyKeyworks><span>No keywords have been added.</span></ng-template>
        </div>
      </div>
    </div>
  </ng-template>
</app-generic-details>