@if (person) {
  <div class="container">
    <div class="first-column">
      @if(person.profilePath) {
        <img src="https://media.themoviedb.org/t/p/w300_and_h450_bestv2{{person.profilePath}}">
      }
      @else {
        <div class="image-content" style="width: 300px; height: 450px; min-width: 300px;">
          <div class="glyphicons_v2 profile no-image-holder"
            [ngClass]="{female: person.gender === 'Female', male: person.gender === 'Male' || person.gender !== 'Female'}">
          </div>
        </div>
      }
      <h5>{{ 'PersonalInfo' | translate }}</h5>
      <div class="personal-info">
        <div>
          <span>{{ 'KnownFor' | translate }}</span>
          <span>{{ person.knownForDepartment | translate }}</span>
        </div>
        <div>
          <span>{{ 'KnownCredits' | translate }}</span>
          <span>{{person.knownCredits}}</span>
        </div>
        <div>
          <span>{{ 'Gender' | translate }}</span>
          <span>{{ person.gender | translate }}</span>
        </div>
        <div>
          <span>{{ 'Birthday' | translate }}</span>
          @if (person.birthday) {
            <span>{{person.birthday | date}} @if(!person.deathday) {({{ 'YearsOld' | translate:{age: person.age} }})}</span>
          }
          @if (!person.birthday) {
            <span>-</span>
          }
        </div>
        @if (person.deathday) {
          <div>
            <span>{{ 'DayOfDeath' | translate }}</span>
            <span>{{person.deathday | date}} ({{ 'YearsOld' | translate:{age: person.age} }})</span>
          </div>
        }
        <div>
          <span>{{ 'PlaceOfBirth' | translate }}</span>
          <span>{{person.placeOfBirth || '-'}}</span>
        </div>
        @if(person.alsoKnownAs.length) {
          <div>
            <span>{{ 'AlsoKnownAs' | translate }}</span>
            <ul class="alsoKnownAs">
              @for(name of person.alsoKnownAs; track name) {
                <li>{{name}}</li>
              }
            </ul>
          </div>
        }
      </div>
    </div>

    <div class="second-column">
      <h2>{{person.name}}</h2>
      <h5>{{ 'Biography' | translate }}</h5>
      @if(person.biography) {
        @if(person.biography.length > 1000 && !showFullBiography) {
          <p class="readmore">{{person.biography | slice:0:1000}}...</p>
          <a href="javacript:void(0)" class="btn btn-link" (click)="showFullBiography = !showFullBiography">{{ 'ShowMore' | translate}}</a>
        }
        @else {
          <p>{{person.biography}}</p>
        }
      }
      @else {
        <p [innerHTML]="'EmptyBiography' | translate:{value: person.name}"></p>
      }
      <h5>{{ 'KnownFor' | translate }}</h5>
      <div class="row">
        <div class="known-for-container">
          @for (media of person.knownFor; track media) {
            <div class="card">
              <a [routerLink]="['/', media.mediaType, media.id]">
                @if(media.posterPath) {
                  <img src="https://image.tmdb.org/t/p/w185{{media.posterPath}}" class="card-img-top"
                    [title]="media.title" loading="lazy">
                }
                @else {
                  <div class="image-content" style="width: 136px; height: 205px; min-width: 136px;" [title]="media.title">
                    <div class="glyphicons_v2 recomendation no-image-holder"></div>
                  </div>
                }
              </a>
              <div class="media-text">
                <a [routerLink]="['/', media.mediaType, media.id]">
                  <span class="media-name">{{media.title}}</span>
                </a>
              </div>
            </div>
          }
        </div>
      </div>
      <div class="row">
        <h3>{{ 'Acting' | translate }}</h3>
        <div ngbAccordion [closeOthers]="false" #accordion="ngbAccordion">
          @for (credit of person.creditsList; track credit) {
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>{{ credit.year }}</button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    <ul class="media-group">
                      @for (media of credit.credits; track media) {
                        <li class="media-item">
                          <a [routerLink]="['/', media.mediaType, media.id]">{{ media.title }} <span>({{media.releaseDate | date:'MMMM'}})</span></a>
                          <span class="media-item-role">
                            @if(media.mediaType === 'movie') {
                              @if (media.character) {
                                <span><span> {{ 'as' | translate }} </span>{{ media.character }}</span>
                              }
                            }
                            @else {
                              @for (job of media.jobs; track job) {
                                <div>
                                  @if (job.episodeCount) {
                                    <span>({{job.episodeCount}} {{ job.episodeCount > 1 ? ('episodes' | translate) : ('episode' | translate) }})</span>
                                  }
                                  @if (job.job) {
                                    <span> {{ 'as' | translate }} </span>
                                  }
                                  @if (job.job) {
                                    <span>{{ job.job }}</span>
                                  }
                                </div>
                              }
                            }
                          </span>
                        </li>
                      }
                    </ul>
                  </ng-template>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
}